* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.icon-bar {
    width: 90px;
    background-color: #555;
    display: none;
    position: absolute;
    z-index: 1;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    font-size: 36px;
    color: grey;
    transition: all 0.3s ease;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}



